<div id="app" class="body-root" v-cloak="">
	<div class="body-header">
		<div class="header-title">{{ $t("importFromMnemonicPage.title") }}</div>
		<div class="header-subtitle">{{ $t("importFromMnemonicPage.subtitle") }}</div>
	</div>

	<div class="card">
		<div class="card-title">{{ $t("importBasePage.parametersBlock.title") }}</div>
		<div class="field">
			<label>{{ $t("importBasePage.parametersBlock.password.label") }}</label>
			<input type="password" v-model="password">
			<div v-if="insecurePassword && !forceInsecurePassword" class="message error">
				{{ $t("global.passwordInvalidRequirements") }}
				<div class="tc" style="margin-top:0.5rem;">
					<button @click="forceInsecurePasswordCheck()" class="btn mini">{{ $t("global.disableSecurity") }}</button>
				</div>
			</div>
		</div>
		<div class="field">
			<label>{{ $t("importBasePage.parametersBlock.passwordConfirm.label") }}</label>
			<input type="password" v-model="password2">
			<div v-if="password != '' && password2 != '' && password != password2" class="message error">
				{{ $t("importBasePage.parametersBlock.passwordConfirm.invalid") }}
			</div>
		</div>
		<div class="field">
			<label>{{ $t("importBasePage.parametersBlock.importHeight.label") }}</label>
			<input type="text" v-model="importHeight">
		</div>
	</div>

	<div class="card">
		<div class="card-title">{{ $t("importFromMnemonicPage.mnemonicBlock.title") }}</div>
		<div class="field">
			<label>{{ $t("importFromMnemonicPage.mnemonicBlock.mnemonic.label") }}</label>
			<input type="text" v-model="mnemonicPhrase">
		</div>
		<div class="field">
			<label>{{ $t("importFromMnemonicPage.mnemonicBlock.mnemonic.language") }}</label>
			<select v-model="language">
				<option :value="language.key" v-for="language in languages">{{language.name}}</option>
			</select>
		</div>
		<div v-if="mnemonicPhrase !== '' && !validMnemonicPhrase" class="message error">
			{{ $t("importFromMnemonicPage.mnemonicBlock.mnemonic.invalid") }}
		</div>
		<button @click="importWallet()" class="btn primary" style="width:100%;margin-top:0.5rem;" :disabled="!formValid()">{{ $t("importFromMnemonicPage.mnemonicBlock.importButton") }}</button>
	</div>
</div>
